{
  "plugins": [/*"prettier",*/ "react", "react-hooks", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended",
    "next",
    "next/core-web-vitals"
    // "prettier",
    // "plugin:prettier/recommended"
  ],

  "env": { "browser": true, "es6": true },
  "parser": "@babel/eslint-parser",

  // Recognize relative imports from the 'src' directory
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".mjs", ".cjs"]
      }
    }
  }
}
