@import '../../styles/global/colors.scss';

/* TODO - Style placeholder to get lighter font */
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border: 2px solid $mid-blue;
  box-sizing: border-box;
  margin-top: 10vh;
  width: 50%;
  height: auto;
  padding: 40px;
}

.box h3 {
  color: $black;
  font-size: 26px;
  font-weight: 100;
}

.wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  flex: 0 0 100%;
}
/* 
 * TODO - Put new styling into global css
 */
.box input[type='text'] {
  color: #ababab;
  border-bottom: 3px solid $place-holder-text;
  margin: 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.box input[type='text']::placeholder {
  color: #cdcdcd;
}

.reset {
  font-size: 30px;
  border-radius: 3px;
  height: 55px;
  width: 100%;
}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
}

.rowReverse button {
  color: white;
  background-color: $dark-blue;
  border-radius: 3px;
  padding: 10px 20px;
}
