@import '../../styles/global/colors.scss';

@import '../../styles/global/colors.scss';

.form {
  display: flex;
  flex-direction: column;

  input {
    font-size: 30px;
    border-radius: 3px;
    height: 55px;
    width: 100%;
  }

  input[type='text'],
  input[type='password'] {
    color: $place-holder-text;
    border-bottom: 3px solid $place-holder-text;
    margin: 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }

  .resetPasswordContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3 {
      color: $black;
      padding-right: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
    }

    button {
      text-align: center;
      align-self: center;
      min-width: 80px;
      color: white;
      cursor: pointer;
      background-color: $dark-blue;
      border-radius: 3px;
      padding: 5px;
      flex-basis: 25%;
    }
  }
}
