.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f5f1;

  padding: 40px;
}

.degreeInfo {
  background: white;
  border-radius: 5px;
  padding: 40px;
  resize: none;
  max-width: 80%;
  //border: 1px solid #4c8fa5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  font-family: 'DM Mono';
  color: #4c8fa5;
  font-weight: 400;
  font-size: 32px;
}

.degreeInfo > .degreeName {
  font-size: 48px;
  font-weight: bold;
  background: #ecf7fa;
}

.degreeInfo > .degreeName:hover {
  outline: 1px solid #3b7d9a;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row > p {
  font-weight: bold;
  padding: 0 12px;
}

.checkbox {
  font-weight: bold;
  padding: 0 12px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.row > input {
  background: white;
  border: unset;
  color: #4c8fa5;
  padding: 20px;
  font-size: 24px;
  border-radius: 5px;
  height: 60px;
  resize: none;
}

.row > input:hover {
  border: 1px solid #4c8fa5;
  padding: 0 19px;
}

.row > input:focus {
  border: 2px solid #4c8fa5;
  outline: unset;
  padding: 0 18px;
}

.fieldList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  background: #ecf7fa;
  color: #4c8fa5;
  padding: 20px;
  font-size: 30px;
  border-radius: 5px;
}

.req {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #4c8fa5;
  cursor: pointer;
  z-index: -1;
  font-size: 24px;
  user-select: none;
}

.fieldList > div:hover > .removeButton {
  z-index: unset;
}

.button {
  flex: auto;
  display: flex;
  justify-content: space-around;
  column-gap: 12px;
  border: none;
  background: #4c8fa5;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
  margin: 0;
  font-family: 'DM Mono';
}

.button:hover {
  background: #3b7d9a;
}

.button:active {
  transform: translateY(2px);
}

.req > a {
  color: #4c8fa5;
  text-decoration: unset;
}

.req > a:hover {
  text-decoration: underline;
}

.additionalInfo {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  border: 1px solid #0f81a5;
}
