.container {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.degreeForm {
  background: #9ec8d6;
  border-radius: 49px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 32px;

  display: flex;
  flex-direction: column;
  row-gap: 16px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 32px;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row > p {
  font-weight: bold;
  padding: 0 12px;
}

.checkbox {
  font-weight: bold;
  padding: 0 12px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.row input {
  background: white;
  border: unset;
  color: #4c8fa5;
  padding: 20px;
  font-size: 24px;
  border-radius: 28px;
  height: 60px;
  resize: none;
}

.row input:hover {
  border: 1px solid #4c8fa5;
  padding: 19px;
}

.row input:focus {
  border: 2px solid #4c8fa5;
  outline: unset;
  padding: 18px;
}

.fieldList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  background: white;
  color: #4c8fa5;
  padding: 20px;
  font-size: 24px;
  border-radius: 28px;
}

.req {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.req > a {
  color: #4c8fa5;
  text-decoration: unset;
}

.req > a:hover {
  text-decoration: underline;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #4c8fa5;
  cursor: pointer;
  z-index: -1;
  font-size: 32px;
  user-select: none;
}

.fieldList > div:hover > .removeButton {
  z-index: unset;
}

.button {
  flex: auto;
  display: flex;
  justify-content: space-around;
  column-gap: 12px;
  border: none;
  background: #4c8fa5;
  border-radius: 28px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
  margin: 0;
}

.button:hover {
  background: #3b7d9a;
}

.button:active {
  transform: translateY(2px);
}

.submit {
  background-color: #4c8fa5;
  color: white;
  border-radius: 28px;
  border: none;
  font-size: 24px;
  padding: 20px;
  margin: 0;
}
