@import '../../styles/global/colors.scss';

.container {
  color: $form-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem;

  .header {
    color: $black;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 2rem;
  }

  .column:nth-of-type(1) {
    flex: 40%;
    padding-right: 2rem;
  }

  .column:nth-of-type(2) {
    flex: 60%;
  }

  .filterContainer {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 28px;
    line-height: 36px;

    input,
    select {
      background: $white;
      color: $sea-text;
      border: 1px solid $dark-blue;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 20px;
      height: 55px;
      padding: 0rem 1rem;
    }

    select:focus {
      outline: None;
    }

    label {
      text-align: right;
    }

    .button {
      display: flex;
      justify-content: space-between;

      input {
        border: none;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        padding: 8px 12px;
      }

      > :nth-child(1) {
        background: $sea-text;
      }

      > :nth-child(2) {
        background: $gold;
      }
    }
  }

  .resultsWrapper {
    background: $white;
    border: 1px solid $sea-text;
    border-radius: 10px;
    color: $black;
    height: 100%;
    row-gap: 1rem;

    .resultsContainer {
      padding: 26px 32px;
      display: grid;
      grid-template-columns: 1fr 0.8fr;
      row-gap: 10px;
      overflow-y: scroll;

      .searchResultsHeader {
        font-size: 28px;
      }

      .resultsField {
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        padding: 9px 14px 5px;
        background-color: $light-blue;
      }

      .resultsView {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      button {
        border-radius: 3px;
        color: $white;
        text-align: center;
        padding: 4px 20px;
        background-color: $sea-text;
        cursor: pointer;
      }
    }

    .noResults {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 12px;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
// .filterContainer input[type='number'] {
//   border: none;
// }
// .filterContainer input[type='number']:focus {
//   outline: none;
// }

// .windowContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   height: 100%;
//   padding: 40px;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   color: #4c8fa5;
// }

// .window {
//   display: flex;
//   flex-direction: column;
//   padding: 24px;
//   background: #9ec8d6;
//   border-radius: 48px;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//   row-gap: 16px;
// }

// .filterContainer {
//   border-radius: 8px;
//   display: flex;
//   flex-direction: column;
//   row-gap: 16px;
// }

// .label {
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-align: right;
// }

// .filterFields {
//   display: grid;
//   grid-template-columns: 0.7fr 1fr 0.7fr 1fr;
//   align-items: center;
//   column-gap: 8px;
//   row-gap: 8px;
// }

// .filterFields > input {
//   color: #4c8fa5;
//   background: white;
//   padding: 8px 12px;
//   border-radius: 8px;
//   font-size: 24px;
//   width: 250px;
// }

// .button {
//   display: flex;
//   justify-content: center;
//   border: none;
//   background: #4c8fa5;
//   border-radius: 24px;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   padding: 8px 12px;
//   cursor: pointer;
//   user-select: none;
//   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
//   transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
//   margin: 0;
// }

// .button:hover {
//   background: #3b7d9a;
// }

// .button:active {
//   transform: translateY(2px);
// }

// .results {
//   display: flex;
//   flex-direction: column;
//   padding: 12px;
//   row-gap: 12px;
//   background: white;
//   border-radius: 24px;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//   max-height: 500px;
//   overflow-y: scroll;
// }

// .result {
//   display: flex;
//   flex-direction: column;
//   cursor: pointer;
// }

// .noResults {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 12px;
//   font-size: 24px;
//   font-weight: bold;
// }

// .result:hover {
//   outline: 2px solid #4c8fa5;
// }

// .degreeName {
//   font-size: 24px;
//   font-weight: bold;
// }

// .degreeInfo {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   column-gap: 32px;
// }
