.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;
}

.courseInfo {
  background: #9ec8d6;
  border-radius: 49px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 400;
  font-size: 32px;
}

.courseInfo > .courseTitle {
  font-size: 48px;
  font-weight: bold;
}

.courseInfo > .courseTitle:hover {
  outline: 1px solid #3b7d9a;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.row > p {
  font-weight: bold;
  padding: 0 12px;
}

.row > input {
  background: white;
  border: unset;
  color: #4c8fa5;
  padding: 20px;
  font-size: 24px;
  border-radius: 28px;
  height: 60px;
  resize: none;
}

.row > .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  color: #4c8fa5;
  padding: 20px;
  font-size: 24px;
  border-radius: 28px;
  border: none;
}

@media (pointer: fine) {
  .row > input:hover,
  .row > .select:hover {
    border: 1px solid #4c8fa5;
    padding: 19px;
  }
}

.row > input:focus {
  border: 2px solid #4c8fa5;
  outline: unset;
  padding: 18px;
}

.fieldList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  background: white;
  color: #4c8fa5;
  padding: 20px;
  font-size: 24px;
  border-radius: 28px;
}

.instructorField,
.prereqField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (pointer: fine) {
  .instructorField:hover {
    outline: 1px solid #4c8fa5;
  }
}

.instructorField input {
  flex: 1;
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #4c8fa5;
  cursor: pointer;
  z-index: -1;
  font-size: 32px;
  user-select: none;
}

.fieldList > div:hover > .removeButton {
  z-index: unset;
}

.button {
  flex: auto;
  display: flex;
  justify-content: space-around;
  column-gap: 12px;
  border: none;
  background: #4c8fa5;
  border-radius: 28px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
  margin: 0;
}

@media (cursor: fine) {
  .button:hover {
    background: #3b7d9a;
  }

  .button:active {
    transform: translateY(2px);
  }
}

.prereqField > a {
  color: #4c8fa5;
  text-decoration: unset;
}

@media (pointer: fine) {
  .prereqField > a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .courseInfo {
    width: 100vw;
    border-radius: 0;
  }

  .courseInfo > .courseTitle {
    font-size: 24px;
  }

  .row > p,
  .row > input,
  .row > .select,
  .fieldList,
  .button {
    font-size: 16px;
  }

  .removeButton {
    font-size: 24px;
  }
}

@media (pointer: coarse) {
  .removeButton {
    z-index: unset;
  }
}
