.container {
  padding: 5%;
}
.box {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  max-width: 60%;
  background-color: #9ec8d6;
  color: white;
  border-radius: 49px;
  height: 100%;
  padding: 2%;
  text-align: center;
}

.box h1 {
  font-size: 1.5rem;
  text-align: left;
}

.box p {
  padding: 5%;
}

.container__flex {
  display: flex;
  flex-direction: row;
}

#selectBox {
  width: 100%;
  padding-right: 5%;
}

.selectBox {
  padding: 1rem 0 1rem;
  position: relative;
  width: 100%;
}

.selectBox select {
  margin-top: 1rem;
  min-height: 3rem;
  padding: 2% 5%;
  line-height: 100%;
  font-size: 1rem;
  width: 100%;
  appearance: none;
  border-radius: 15px;
  border: 1px solid white;
  color: #4c8fa5;
}

.selectBox:after {
  content: '';
  position: absolute;
  right: 2%;
  top: 65%;
  margin-top: -15px;
  border-top: 14px solid #9ec8d6;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  pointer-events: none;
}

.selectBox select:focus {
  //border: 2px solid black;
}

.button {
  background-color: #4c8fa5;
  border-radius: 28px;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 1rem 0;
  width: 20%;
}

// .container__flex {
//   display: flex;
//   flex-direction: row;
// }

// // .leftColumn {
// //   float: left;
// //   width: 60%;
// // }

// // .rightColumn {
// //   float: right;
// //   width: 40%;
// // }

// .selectBox {
//   // width: 40%;
//   // padding: 2%;
//   // position: relative;
// }
