.container {
  max-width: 1000px;
  margin: 0 auto;
}

.select_box {
  width: 300px;
  position: relative;
}
.select_box select {
  height: 42px;
  padding: 10px 15px;
  line-height: 18px;
  font-size: 16px;
  width: 100%;
  appearance: none;
  border: 2px solid #000000;
  border-radius: 8px;
}
.select_box:after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border-top: 8px solid #000000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
}

.select_box select:focus {
  border: 2px solid black;
}
