@import '../../styles/global/colors.scss';

.container {
  color: $form-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 56px 0;
  padding: 0 4rem;
  width: 100%;

  .searchClassHeader {
    font-size: 36px;
    line-height: 47px;
    color: $black;
    text-align: left;
    width: 100%;
    margin-bottom: 3rem;
  }

  .filterContainer {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 28px;
    line-height: 36px;

    label {
      text-align: right;
    }

    select {
      cursor: pointer;
    }

    select,
    input {
      background: $white;
      border: 1px solid $dark-blue;
      box-sizing: border-box;
      border-radius: 5px;
      color: $sea-text;
      font-size: 20px;
      height: 55px;
      padding-left: 1rem;
    }
  }

  .precautionText {
    color: $sea-text;
    font-size: 20px;
    line-height: 26px;
    margin: 5rem 0 3rem;
  }

  .buttonContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 5rem;
    grid-column-start: 2;
    margin: 20px;

    .button {
      color: white;
      font-size: 26px;
      cursor: pointer;
      background-color: $dark-blue;
      border-radius: 3px;
      border: none;
      padding: 5px;
      min-width: 100px;
      justify-content: space-between;
    }
    input {
      border: none;
      border-radius: 3px;
      color: white;
      height: 2rem;
      padding: 8px 12px;
      width: 30%;
    }

    @media (max-width: 780px) {
      input {
        width: 35%;
      }
    }

    @media (max-width: 650px) {
      input {
        width: 45%;
      }
    }
  }
}
