@import '../../styles/global/colors.scss';

.h3 {
  color: $black;
  font-size: 26px;
  font-weight: 100;
}

.form {
  display: flex;
  flex-direction: column;

  input {
    font-size: 30px;
    border-radius: 3px;
    height: 55px;
    width: 100%;
  }

  input[type='text'] {
    color: #ababab;
    border-bottom: 3px solid $place-holder-text;
    margin: 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }

  input[type='password'] {
    color: #ababab;
    border-bottom: 3px solid $place-holder-text;
    margin: 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }

  .forgotPasswordContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .showPasswordText {
      margin-top: 2px;
      margin-left: 5px;
    }
  }

  .passwordContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .forgotPassword {
      cursor: pointer;
      padding: 10px 0;
    }

    button {
      text-align: center;
      align-self: center;
      color: white;
      cursor: pointer; 
      background-color: $dark-blue;
      border-radius: 3px;
      padding: 5px;
      flex-basis: 25%;
    }
  }
}


#checkBox {
  height: 24px;
  width: 24px;
}