@import '../../styles/global/colors.scss';

.header {
  color: $black;
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}

.container {
  color: $form-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  width: 100%;

  .nameRow,
  .doubleRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;
    grid-column: 2;
    input,
    button {
      width: 100%;
    }
  }

  .innerColumn {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    font-size: 24px;
    align-items: center;
    line-height: 36px;

    label {
      text-align: right;
    }

    input,
    textarea,
    select {
      color: $dark-blue;
      border: 1px solid $dark-blue;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 20px;
      height: 55px;
      padding: 0 1rem;
    }

    input:focus {
      outline: none;
    }

    textarea {
      resize: none;
      padding: 1rem;
      height: 150px;
    }

    textarea:focus {
      outline: None;
    }

    .button {
      border: none;
      background: #4c8fa5;
      border-radius: 3px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      padding: 8px 12px;
      height: 40px;

      cursor: pointer;
      user-select: none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
      margin: 0;
    }
  }

  @media (max-width: 800px) {
    .nameRow,
    .doubleRow {
      flex-wrap: wrap;
    }
    .innerColumn {
      grid-template-columns: auto;
    }
  }

  @media (pointer: fine) {
    .button:hover {
      background: #3b7d9a;
    }

    .button:active {
      transform: translateY(2px);
    }
  }
}

// .container {
//   width: 100%;
//   height: 100%;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .col {
//   padding: 20px;
// }

// @media (max-width: 850px) {
//   .container {
//     grid-template-columns: 1fr;
//   }

//   .col {
//     padding: 20px 0;
//   }
// }

// .studentInfo {
//   //background: #9ec8d6;
//   background-color: white;
//   border-radius: 5px;
//   border: 3px solid #4c8fa5;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//   padding: 32px;

//   display: flex;
//   flex-direction: column;
//   row-gap: 16px;

//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   //color: white;
//   color: #4c8fa5;
//   font-weight: 400;
//   font-size: 32px;

//   font-family: 'DM Mono';
// }

// .row {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
// }

// .row > p {
//   font-weight: bold;
//   padding: 0 12px;
// }

// .row input,
// .row textarea {
//   background: #ecf7fa;
//   margin-bottom: 20px;
//   border: unset;
//   color: #4c8fa5;
//   padding: 20px;
//   font-size: 24px;
//   border-radius: 5px;
//   height: 60px;
//   resize: none;
// }

// .row textarea {
//   height: 150px;
// }

// .row input:hover,
// .row textarea:hover {
//   border: 1px solid #4c8fa5;
//   padding: 19px;
// }

// .row input:focus,
// .row textarea:focus {
//   border: 2px solid #4c8fa5;
//   outline: unset;
//   padding: 18px;
// }

// .button {
//   flex: auto;
//   display: flex;
//   justify-content: space-around;
//   column-gap: 12px;
//   border: none;
//   background: #4c8fa5;
//   border-radius: 5px;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   padding: 8px 12px;
//   cursor: pointer;
//   user-select: none;
//   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
//   transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
//   margin: 0;
//   font-family: 'DM Mono';
// }

// .button:hover {
//   background: #3b7d9a;
// }

// .button:active {
//   transform: translateY(2px);
// }

// .expanded {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
// }

// .condensed {
//   display: none;
// }

// .progBar {
//   width: 100%;
//   height: 32px;
//   border-radius: 5px;
//   overflow: hidden;
//   background-color: #c7e3ec;
//   display: flex;
// }

// .compBar,
// .inProgBar {
//   height: 100%;
//   background-color: #3b7d9a;
//   width: 0;
//   transition: width 0.5s ease-in-out;
// }

// .inProgBar {
//   position: relative;
//   background-color: #75b5cc;
// }

// // wave effect on .inProgBar
// .inProgBar::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   animation: wave 3s ease-out infinite;
// }

// // wave animation
// @keyframes wave {
//   0% {
//     background-color: rgba(255, 255, 255, 0.2);
//     width: 0;
//   }
//   100% {
//     background-color: #9ec8d600;
//     width: 100%;
//   }
// }

// .courseEntries {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
//   padding: 4px;
//   overflow-y: scroll;
//   max-height: 518px;
// }

// .courseEntry {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
//   padding: 12px;
//   border: 1px solid #4c8fa5;
//   border-radius: 5px;
//   background-color: white;
//   color: #4c8fa5;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   cursor: pointer;
//   transition: transform 0.1s ease-in-out;
// }

// .courseEntry:hover {
//   border: 2px solid #4c8fa5;
//   padding: 11px;
// }

// .courseEntry:active {
//   transform: translateY(2px);
// }

// .courseTitle {
//   display: flex;
//   justify-content: space-between;
//   column-gap: 24px;
//   width: 100%;
//   font-weight: bold;
// }

// .inProgText {
//   font-weight: normal;
//   font-style: italic;
//   font-size: 0.7em;
// }

// .courseInfo {
//   display: flex;
//   column-gap: 16px;
//   justify-content: space-between;
//   width: 100%;
//   font-size: 0.7em;
// }

// <<<<<<< HEAD
// @import '../../styles/global/colors.scss';

// .header {
//   color: $black;
//   font-size: 36px;
//   font-weight: 400;
//   line-height: 47px;
//   text-align: center;
//   margin-top: 2rem;
//   width: 100%;
// =======
// .container {
//   width: 100%;
//   height: 100%;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .col {
//   padding: 20px;
// }

// @media (max-width: 850px) {
//   .container {
//     grid-template-columns: 1fr;
//   }

//   .col {
//     padding: 20px 0;
//   }
// }

// .studentInfo {
//   //background: #9ec8d6;
//   background-color: white;
//   border-radius: 5px;
//   border: 3px solid #4c8fa5;
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
//   padding: 32px;

//   display: flex;
//   flex-direction: column;
//   row-gap: 16px;

//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
//     'Open Sans', 'Helvetica Neue', sans-serif;
//   //color: white;
//   color: #4c8fa5;
//   font-weight: 400;
//   font-size: 32px;

//   font-family: 'DM Mono';
// }

// .row {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
// }

// .row > p {
//   font-weight: bold;
//   padding: 0 12px;
// }

// .row input,
// .row textarea {
//   background: #ecf7fa;
//   margin-bottom: 20px;
//   border: unset;
//   color: #4c8fa5;
//   padding: 20px;
//   font-size: 24px;
//   border-radius: 5px;
//   height: 60px;
//   resize: none;
// }

// .row textarea {
//   height: 150px;
// }

// .row input:hover,
// .row textarea:hover {
//   border: 1px solid #4c8fa5;
//   padding: 19px;
// }

// .row input:focus,
// .row textarea:focus {
//   border: 2px solid #4c8fa5;
//   outline: unset;
//   padding: 18px;
// }

// .button {
//   flex: auto;
//   display: flex;
//   justify-content: space-around;
//   column-gap: 12px;
//   border: none;
//   background: #4c8fa5;
//   border-radius: 5px;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   padding: 8px 12px;
//   cursor: pointer;
//   user-select: none;
//   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
//   transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
//   margin: 0;
//   font-family: 'DM Mono';
// }

// .button:hover {
//   background: #3b7d9a;
// }

// .button:active {
//   transform: translateY(2px);
// >>>>>>> origin/main
// }

// .container {
//   color: $form-text;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   gap: 2rem;
//   padding: 2rem;
//   width: 100%;
// <<<<<<< HEAD
// =======
//   height: 32px;
//   border-radius: 5px;
//   overflow: hidden;
//   background-color: #c7e3ec;
//   display: flex;
// }

// .compBar,
// .inProgBar {
//   height: 100%;
//   background-color: #3b7d9a;
//   width: 0;
//   transition: width 0.5s ease-in-out;
// }
// >>>>>>> origin/main

//   .nameRow,
//   .doubleRow {
//     display: flex;
//     flex-direction: row;
//     flex-grow: 1;
//     gap: 1rem;
//     grid-column: 2;
//     input,
//     button {
//       width: 100%;
//     }
//   }

// <<<<<<< HEAD
//   .innerColumn {
//     display: grid;
//     grid-template-columns: 0.4fr 1fr;
//     row-gap: 1rem;
//     column-gap: 1rem;
//     font-size: 24px;
//     align-items: center;
//     line-height: 36px;

//     label {
//       text-align: right;
//     }

//     input,
//     textarea,
//     select {
//       color: $dark-blue;
//       border: 1px solid $dark-blue;
//       border-radius: 3px;
//       box-sizing: border-box;
//       font-size: 20px;
//       height: 55px;
//       padding: 0 1rem;
//     }

//     input:focus {
//       outline: none;
//     }

//     textarea {
//       resize: none;
//       padding: 1rem;
//       height: 150px;
//     }

//     textarea:focus {
//       outline: None;
//     }

//     .button {
//       border: none;
//       background: #4c8fa5;
//       border-radius: 3px;
//       color: white;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       font-size: 20px;
//       padding: 8px 12px;
//       height: 40px;

//       cursor: pointer;
//       user-select: none;
//       box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
//       transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
//       margin: 0;
//     }
//   }
// =======
// .courseEntries {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
//   padding: 4px;
//   overflow-y: scroll;
//   max-height: 518px;
// }

// .courseEntry {
//   display: flex;
//   flex-direction: column;
//   row-gap: 8px;
//   padding: 12px;
//   border: 1px solid #4c8fa5;
//   border-radius: 5px;
//   background-color: white;
//   color: #4c8fa5;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   cursor: pointer;
//   transition: transform 0.1s ease-in-out;
// }

// .courseEntry:hover {
//   border: 2px solid #4c8fa5;
//   padding: 11px;
// }

// .courseEntry:active {
//   transform: translateY(2px);
// }
// >>>>>>> origin/main

//   @media (max-width: 800px) {
//     .nameRow,
//     .doubleRow {
//       flex-wrap: wrap;
//     }
//     .innerColumn {
//       grid-template-columns: auto;
//     }
//   }

//   @media (pointer: fine) {
//     .button:hover {
//       background: #3b7d9a;
//     }

//     .button:active {
//       transform: translateY(2px);
//     }
//   }
// }
