@import '../../styles/global/colors.scss';

.container {
  color: $form-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;

  .header {
    color: $black;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
  }

  .columns {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }

  label {
    text-align: right;
    margin-right: 10px;
    font-size: 24px;
  }

  .info {
    grid-column: 2 / span 2;
  }

  input,
  textarea {
    background: $white;
    color: $sea-text;
    border: 1px solid $dark-blue;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 20px;
    height: 55px;
    padding: 0 1rem;
  }

  input:focus {
    outline: none;
  }

  textarea {
    resize: none;
    padding: 1rem;
    height: 150px;
  }

  textarea:focus {
    outline: None;
  }

  .button > input {
    border: none;
    background: #4c8fa5;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    padding: 8px 12px;
    height: 60px;

    cursor: pointer;
    user-select: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
    margin: 0;
  }

  @media (max-width: 1000px) {
    .columns {
      grid-template-columns: 0.7fr 1fr;
      align-content: center;

      .info {
        grid-column: 2;
      }
      .button {
        grid-column: 1 / span 2;
        margin-left: 25%;

        input {
          width: 75%;
        }
      }
    }
  }
}
