@import '../../styles/global/colors.scss';
.container {
  color: $form-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem;

  .header {
    color: $black;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
  }

  .row {
    align-items: center;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 4rem;

    input, textarea {
      background: $white;
      color: $sea-text;
      border: 1px solid $dark-blue;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 20px;
      height: 55px;
      padding: 0 1rem;
    }

    textarea {
      resize: none;
      padding: 1rem;
      height: 150px;
    }

    input:focus, textarea:focus {
      outline: none;
    }

    label {
      text-align: right;
    }

    .button {
      display: flex;
      justify-content: space-between;

      > * {
        border: none;
        border-radius: 3px;
        color: $white;
        cursor: pointer;
        padding: 8px 12px;
      }

      > :nth-child(1) {
        background: $sea-text;
      }

      > :nth-child(2) {
        background: $gold;
      }
    }
  }

  @media (max-width: 800px) {
    .row {
      grid-template-columns: auto;
      label {
        text-align: left;
      }
    }
  }
}