@import '../../styles/global/colors.scss';

.windowContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'DM Mono', monospace;
}

.popup {
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  background: #9ec8d6;
  border-radius: 3px;
  width: 500px;
  height: 550px;
  padding: 24px;
  z-index: 6;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.closeArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  cursor: pointer;
}

.popup > .searchBox {
  color: $dark-blue;
  background-color: white;
  border: 1px solid $dark-blue;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 8px 12px;
  height: 55px;
}

.popup > .searchBox:hover,
.popup > .searchBox:focus {
  border: 2px solid #4c8fa5;
}

.results {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 4px;
  overflow-y: scroll;
  max-height: 518px;
}

.result {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
  word-wrap: break-word;
}

.result:hover {
  background: #4c8fa5;
  color: white;
}
