/* Styles for the homepage (named “index.jsx”) */
.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 36px;
}

.dashboard h1 {
  color: #4c8fa5;
  margin: 40px;
  margin-bottom: 0px;
  font-size: 60px;
}

.dashboard_content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background: #9ec8d6;
  border-radius: 49px;
  padding: 30px 60px;
}

.dashboard_content h2 {
  padding-bottom: 12px;
}

.dashboard_content .search_field {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.dashboard_content .text_field {
  background: white;
  color: #4c8fa5;
  padding: 0 20px;
  font-size: 24px;
  border-radius: 28px;
  height: 60px;
}

.dashboard_content .text_field:focus {
  padding: 0 20px;
  border: 2px solid #4c8fa5;
}

.button {
  border: none;
  background: #4c8fa5;
  border-radius: 28px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 12px;

  cursor: pointer;
  user-select: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in-out, transform 0.1s ease-in-out;
  margin: 0;
}
