// to use: add @import 'styles/colors';

$cream: #f6f5f1;
$light-brown: #e3d1a1;

$white: #ffffff;
$black: #000000;

/* Background color */
$light-blue: #cce7ef;
$mid-blue: #aed6e2;
$dark-blue: #0f81a5;

/* Font color */
$place-holder-text: #ababab;
$sea-text: #2094b9;
$gold: #e3d1a1;
$form-text: #1a2737;
